<!DOCTYPE html>
<html>
    <head>
        <!--TabTitle--->
        <div class="text-center" id="top-bar">
			<img src="/assets/img/burger-icon.png" class="burgerIcon" alt="A minimalist black and white burger image.">
			<h2>Eat That Burger!</h2>
		</div>

<div class="container-fluid">
	<div class="row">
		<div class="col text-center enter_section">
			<form action="/burgers/create" method="POST">
				<p>Enter the burger you want to eat and click "Submit".</p>
				<input type="text" class="form-control" name="burger_name" value="" id="enter_text">
				<button type="submit" class="btn btn-primary" id="text-enter-button">Submit</button>
			</form>

		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col text-center">
		<h2 class="subtitle">Burgers That Can Be Eaten</h2>
			<div>
			  {{#each burger_data}}
			  	{{#unless this.devoured}}
				<div>
					<p>#{{this.id}}: {{this.burger_name}}
					</p>
				</div>
				<div>
					<form class="devour-form">
						<input type="hidden" class="burger_id" type="text" value={{this.id}}><br>
						<button type="submit" class="btn btn-primary btn-devour">Devour it!</button>
					</form>
				</div>
				{{/unless}}
			  {{/each}}
			</div>
		</div>
		<div class="col text-center">
		<h2 class="subtitle">Burgers That Have Been Eaten</h2>
			  {{#each burger_data}}
			  	{{#if this.devoured}}
				  				<div>
					<p>#{{this.id}}: {{this.burger_name}}
					</p>
			  		{{!-- <input class="form-control" type="text" placeholder="#{{this.id}} : {{this.burger_name}}" readonly> --}}
				{{/if}}
			  {{/each}}
		</div>
	</div>
</div>
